video{
    object-fit: cover;
    opacity: 0.5;
    height: 100vh;
    width: 100%;
    border: 1px solid var(--bgColor);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
.content{
    position: absolute ;
    top: 40%;
    margin-left: 7rem;
    font-weight:500;
    color: var(--textColor);
    /* text-shadow: var(--bgColor) 14px 0 10px; */
}
.subTitle{
    margin-top: 40px;
    font-size: 1rem;
    /* font-weight: lighter; */
    /* opacity: 0.7; */
    
}
.title{
    margin: -42px 0 ;
    font-size: 5rem;
    font-weight: 450;
}
  .para{
    width: 50%;
      margin: 10px ;
      /* opacity: 0.7; */
      font-size: var(--paraText);
  }

  @media screen and (max-width: 1012px){
    .content{
           margin-left: 3rem; 
           top: 70%;
    }
}
@media screen and  (max-width: 780px){

    .subTitle{
        font-size: 0.7rem;
    }
    .title{
        font-size: 3rem;
    }
      .para{
        font-size: 0.7rem;
      }
    
}

@media screen and  (max-width: 480px){
    video{
        height:110vh;
    }
    .content{
        margin-left: 1.5rem; 
        top: 60%;
 }
    .subTitle{
        font-size: 1rem;
    }
    .title{
        font-size: 3rem;
        width: 30%;
    }
      .para{
        font-size: 1rem;
        width: 30%;
      }
}