.container{
    padding: 2rem 7rem;
    max-width: 100%;
    overflow: hidden;
}

.brandList{
    display: flex;
    width: 200%;
}

li img{
    aspect-ratio: 3/1;
    object-fit: contain;
    justify-content: center;
}    