.container{
    padding: 7rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;

}

@keyframes slide {
   from{
    transform: translateX(0);
   } 
   to {
    transform: translateX(-100%);
   }
}

.brandList{
    display: inline-block;
    animation: 20s slide infinite linear;
}
/* .container:hover .brandList{
    animation-play-state: paused;
} */
 img{
    aspect-ratio: 3/1;
    /* margin: 0 rem; */
    object-fit: contain;
    justify-content: center;
}   