.container{
    padding: 3rem 0;
    min-height: 100vh;
    display: flex;
}
.subTitle{
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin: 20px 0 0 10px;
}
.sub{
    display: flex;
}

.subContainer{
    padding: 2rem 1rem;
    flex: 1;
    padding-left: 50px;
}
.aboutSubTitle{
font-size: 1.2rem;
}
.aboutTitle{
    margin-top: -20px;
    font-size: 2.4rem;
    font-weight: 600;
}

.subContainerHead{
    margin: 20px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.subContainerPara{
    margin: 10px 0px;
    font-size: 0.95rem;
}

.subContainerTag{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.subContainerTagRole{
    margin-top: -05px;
}

.subContainerExp{
    margin-top: 30px    ;
    border: 0.5px solid rgb(38, 38, 38);
    height: 140px;
    display: flex;
    gap: 10px;
    backdrop-filter: blur(1px);
}
.subContainerExpNum{
    padding: 1rem;
    margin-top: -55px;
    font-weight: 700;
    text-shadow: -1px 1px 0 #ddd,
    1px 1px 0 #ddd,
    1px -1px 0 #ddd,
    -1px -1px 0 #ddd;
    font-size: 150px;
    color: var(--bgColor);
}
.subContainerExpText{
    margin-top: 70px;
    padding-left: 1rem;
    flex: 2;
    max-height: 60px;
    border-left: 2px solid rgb(84, 84, 84);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

/* Home Slider */
.subParameters{
    margin-top: 21px;
}
.subAboutParameters{
    display: flex;
    cursor: pointer;
    padding: 1rem;
}
.aboutParameters{
    border-bottom: 0.5px solid rgb(38, 38, 38);
}

.subAboutParametersHeading{
font-size: 18px;
margin: 5px 0 0 15px;
}

.subAboutParametersBtnIcon{
 margin-left: 380px;
}
.subAboutParametersBtnIconAdv{
    margin-left: 392px;
}
.aboutParametersPARA{
    font-size: 90%;
    margin: 5px 30px 20px 50px;
    letter-spacing: 1px;
    display: none;
    transition: display 1s;
    
}
.aboutParametersPARAActive{
    display: block;
}


@media screen and (max-width: 1300px){
    .subContainerExpText{
        margin-top: 50px;
    }
    .container{
        margin: 0 -4rem;
    }
    .parameters{
        margin-top: 50px;
    }
    .subAboutParametersBtnIcon{
        margin-left: 330px;
       }
       .subAboutParametersBtnIconAdv{
           margin-left: 342px;
       }
}
@media screen and (max-width: 1124px){
    .container{
        flex-direction: column;
    }
    .aboutParameters{
        margin: 0 6vw 0 2vw ;
    }
    .subContainerPara{
        margin: 0 6vw 0 0 ;
    }
    .subContainerExp{
            margin: 6vh 6vw 0 0 ;
        }
   
    .subAboutParametersBtnIcon{
        margin-left:60vw;
       }
       .subAboutParametersBtnIconAdv{
        margin-left:61vw;
       }
}
@media screen and (max-width: 912px){
    .container{
        margin: 0 -1rem 0 -2rem ;
    }
    .aboutParameters{
        margin: 0 0 0 0 ;
    }
    .subAboutParametersBtnIcon{
        margin-left:55vw;
       }
       .subAboutParametersBtnIconAdv{
        margin-left:57vw;
       }
}
@media screen and (max-width: 640px){
    .subAboutParametersBtnIcon{
        margin-left:45vw;
       }
       .subAboutParametersBtnIconAdv{
        margin-left:47vw;
       }
}


/* Phone */
@media screen and (max-width: 480px){
    .container{
        margin: 2vh 0.7rem;
    }
    .subContainer{
        margin-top: 10vh;
        padding: 0;
    }
  .parameters{
    /* margin-left: -1rem; */
  }
  .subAboutParameters{
    padding: 1rem 0.5rem;
  }
    .subAboutParametersBtnIcon{
        margin-left:39vw;
       }
       .subAboutParametersBtnIconAdv{
        margin-left:42.5vw;
       }
       .aboutParametersPARA{
        margin: 0px;
        padding: 0.5rem;
        font-size: 100%;
        letter-spacing: 1.5px;
       }
       .subContainerTag{
        margin-top: 2vh;
        font-size: 1.5rem;
       }
       .subContainerTagRole{
        font-size: 1.2rem;
       }
       .subContainerExp{
        margin-top: 10px;
        gap: 1px;
        }
        .subContainerPara{
        margin: 0 ;
        }
       .subContainerExpNum{
        font-size: 100px;
        margin-top: -15px;
       }
       .subContainerExpText{
        font-size: 0.8rem;
        margin-top: 70px;
       }
}

