.container{
    width: 22vw;
    height: 320px;
    margin: 0.5rem;
    padding: 2rem 1.5rem;
    border: 0.5px solid rgb(38, 38, 38);
    /* border-radius: 7px; */
    text-align: center;
    backdrop-filter: blur(0.5px);
    align-content: center;

}

.serviceIcon{
    margin-top: 10px;
    color: var( --textColor);
}

.serciveTitle{
 /* margin-top: 1em; */
 font-size: 1.6rem;
 font-weight: 600;
 color: var( --textColor);
}
.servicePara{
margin-top: 0.5rem;
font-size: 0.9rem;
/* opacity: 0.7; */
}
@media screen and (max-width: 1400px){
    .container{
        width: 320px;
    }
}

@media screen and (max-width: 480px){
    /* .container{
        width: 350px;
        height: 300px;
    } */

}