.subContaierOne{
    padding: 36vh 0 0 7vw ;
    min-height:90vh;
    background-image: url('../../../img/bg-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.3; */
    background-color: rgba(0,0,0,0.5);
}

.title{
  color: var(--titleColor);
  font-size: var(--titleText);
}
.titleHead{
    font-size: var(--titleHead);
}
.para{
    margin-top: 30px;
    font-size: var(--paraText);
}
.checkS{
    margin-top: 30vh;
    padding: 2rem 7rem;
}
.box{
    margin-top: 20VH;
}