.container{
    margin-top: 30vh;
    min-height: 90vh;
    padding: 1rem 3rem;
}
.subTitle{
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin: 20px 0 0 10px;
}
.sub{
    display: flex;
}
.title{
    margin-top: -1rem;
    letter-spacing: 2px;
    /* margin-left: 20px; */
    font-size: 1.4rem;
    font-weight: 200;
}
.divTitle{
    letter-spacing: 2px;
    margin-top: -1.5rem;
    /* margin-left: 1.25rem; */
    font-size: 2.5rem;
    font-weight: 400;

}
.title h1{
    margin-top: -55px;
}
.subContainer{
    min-height: 70vh;
    margin: 2rem 1rem;
    padding: 2rem;
    /* display: flex; */
}
.space{
    margin-top: 7px;
}

.testimonial{
    padding: 3px;
}

@media screen and (max-width: 480px){
    .container{
        padding: 0;
    }
    .textContainer{
        padding: 1rem;
    }
    .subContainer{
        /* flex-direction: column; */
        margin: 1.2rem;
        padding: 0.5rem 0rem;
        /* width: 89%; */
    }
    .title{
        margin-top: 3rem;
        font-size: 1rem;
    }
    .divTitle{
        margin-top: -0.9rem;
        font-size: 1.5rem;    
    } 
    .subContainer{
        margin-top: -5vh;
    }
}    