.container{
    min-height: 100vh;
    margin: -150px 0 0 -6vw; 
    border: 2px solid transparent;
   
}   
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
video{
    object-fit: cover;
    height: 95vh;
    width: 107%;
}
.content{
    position: absolute ;
    top: 50%;
    margin-left: 7rem;
    font-weight: 700;
    color: var(--textColor);
    text-shadow: var(--bgColor) 14px 0 10px;
}
.subTitle{
    margin-top: -60px;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.7;
    
}
.title{
    margin: -42px 0 ;
    font-size: 3rem;
}


  .para{
      margin: 10px 30px;
      opacity: 0.7;
      font-size: var(--paraText);
  }
