.container{
    margin-top: 30vh;
    min-height: 90vh;
}

.title{
    margin: 1rem;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 200;
}

.subContainer{
    margin-top: 20px;
    min-height: 70vh;
}
.space{
    margin-top: 7px;
}

.testimonial{
    padding: 10px;
}
@media screen and (max-width: 980px){
    .container{
        margin-top: 10vh;
        min-height: 90vh;
       
    }
    
    .title{
        margin: 1rem;
        letter-spacing: 2px;
        font-size: 2.5rem;
        font-weight: 200;
        
    }
    
    .subContainer{
        margin-top: 20px;
        min-height: 70vh;
        /* margin-left: 10px; */
        width: 94%;
       
    }
    .space{
        margin-top: 7px;
    }
    
    .testimonial{
        padding: 0px;
    }
}