.container{
    margin-top: 20vh;
    min-height: 90vh;
    padding: 2rem 7rem;
}

.subTitle{
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin: 15px 0 0 10px;
}
.sub{
    display: flex;
}
.title{
    margin-top: -3rem;
    letter-spacing: 2px;
    /* margin-left: 20px; */
    font-size: 1.4rem;
    /* font-weight: 400; */
}
.members{
    padding: 10px 50px;
/* display: flex; */
gap: 30px;
}

@media screen and (max-width: 480px){
    .container{
        margin-top: 20vh;
        min-height: 90vh;
        padding: 2rem 1rem;
    }

}