.ourWorkSliders{
    display: flex;
    gap: 20px;
    /* height: 60vh; */
    margin: 2rem 1rem;
    padding: 2rem;
    overflow: hidden;
}
/* 
 */
.ourWorkSlider{
    width: 500PX;
    /* height: 500PX; */
}
.ourWorkSlider video {
    width: 500px;
    height: 300px;
    border-radius: 0;
}
.Wtype{
    font-weight: 200;
}
.Wtitle{
    margin-top: -20px;
    font-size: 2rem;
}
.scroller{
    margin-top: -10vh;
    margin-left: 5rem;
    font-size: 21px      ;
    display: flex;
    gap:90%;
}
.scrollerLeft{
    cursor: pointer;
}
.scrollerRight{
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .scroller{
       display: none;
    }
    .ourWorkSlider video {
        width: 350px;
        height: 300px;
        border-radius: 0;
    }
    .ourWorkSliders{
        margin: 1rem 0 ;
         padding: 0rem 2%;
    }
    .Wtype{font-size: 1.2rem;

    }
    .Wtitle{
        margin-top: -30px;
        font-size:3rem;
        font-weight: 400;
    }
    
}    