.ourWorkSliders{
    display: flex;
    gap: 20px;
    margin: 2rem 1rem;
}

.ourWorkSlider{
    width: 500PX;
    /* height: 500PX; */
}
.ourWorkSlider video {
    width: 400px;
    height: 300px;
    border-radius: 0;
}
.Wtype{
    font-weight: 200;
}
.Wtitle{
    margin-top: -20px;
    font-size: 2rem;
}

@media screen and (max-width: 480px){
    .sliderContainer{
        /* margin: 0 10rem; */
    }
    .ourWorkSlider video {
        width: 325px;
        height: 250px;
        border-radius: 0;
    }
    .ourWorkSliders{
        width: 340px;
        margin: 1rem 0 ;
         padding: 0rem 2%;
    }
    .Wtype{
        font-size: 1.1rem;

    }
    .Wtitle{
        margin-top: -30px;
        font-size:2.5rem;
        font-weight: 400;
    }
    
}    