    .subContaierOne{
        margin-top: -150px;
        padding: 42vh 0 0 7vw ;
        /* text-align: center; */
        height: 70vh;
        background-image: url('../../../img/bg-2.svg');
        box-shadow: 100px 29px 120px 0px rgba(0,0,0,0.75);
        background-repeat: no-repeat;
        background-size: cover;
        /* opacity: 0.3; */
        background-color: rgba(0,0,0,0.5);
    }

    .title{
    color: var(--titleColor);
    font-size: var(--titleText);
    }
    .titleHead{
        font-size: 3rem
    }


    .subContaierSecond{
        margin-top: -70px;
        position: relative;
        min-height: 90vh;
        padding: 7rem;
        background-image: url('../../../img/bg-dot.png');
    }

    .subTitle{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .subHead{
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: 700;
    }

.Dis{
    display: flex;
    gap: 59px;
}

.DisTwo{
    margin-top: 7%;
}

.DisThree{
    margin-top: 14%;
}
