.container{
    margin: 2vh 2vw;
    padding: 1rem;
    /* width: 100%; */
    border: 0.5px solid rgb(38, 38, 38);
    display: flex;
}
.imgDIVContainer{

    margin: 5px 10px 5px 20px ;
    width: 330px;
    height: 300px;
    overflow: hidden;
    backdrop-filter: blur(5px);
}
.sub{
    flex: 2;
    margin-top: 2vh;
}
.tag{
    opacity: 0.8;
    font-size: 1.2rem;
}
.title{
    font-size: 1.8rem;
    font-weight: bold;
}
.para{
 padding: 1rem 5rem 2rem 0.5rem;
 letter-spacing: 1.5px;
}
.readBtn{
    margin-top: 5px;
    font-weight: 500;
}
