.container{
  margin-top: -40vh;
  text-align: center;     
}
.title{
    font-size: 2.9rem;
    text-align: center;
   
}

.serviceCard{
    margin: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
@media screen and (max-width: 480px){
  .title{
    font-size: 2.5rem;  
}
  .serviceCard{
    margin: 1rem 0.5rem;
}
}

