.footerCon{
    /* background-image: url("../../img/bg-1.png"); */
    padding-top: 2rem;
    background-color: #1b1b1b;
}

.container{
    color: var(--textColor);
    display: flex;
    padding: 1rem 6rem;
}

.callForAction{
   font-size: 2.7rem;
   font-weight: 700;
   font-style: italic;
   flex: 3;
}
.subContainer{
    flex: 2.5;
    display: flex;
    flex-direction: row;
}
.contact{
    flex: 1;
}

.address{
    flex: 1;
}

.footerHeading{
    color: var(--headingText);
    font-weight: 700;
    margin: -5px 0 10px 0;

}
.line{
    content: "";
    border-bottom: 1px solid #8d6f5a;
    border-radius: 10px ;
    width: 50%;
    margin-top: 2rem;
    margin: 0 23rem;
 
}
.copyRight{
    color: var(--headingText);
    font-weight: 700;
    padding: 7px 0 10px 0;
    text-align: center;
   
}

@media screen and (max-width: 1012px){
    .container{
        padding: 1rem 2rem;
    }
    .callForAction{
        font-size: 2rem;
    }
}
@media screen and (max-width: 840px){
    .container{
        flex-direction: column;
    }
    .callForAction{
        text-align: center;
    }
    .subContainer{
        margin-top: 7%;
        padding-left: 16%;
        display: flex;
    }
    .line{
        width: 90%;
        margin: 1rem 2rem 0 2rem;
    }
}
@media screen and (max-width: 640px){
    .callForAction{
        font-size: 2rem;
    }
    .subContainer{
        padding-left: 12%;
    }
}

@media screen and (max-width: 480px){
    .container{
        padding: 0;
    }
    .callForAction{
        font-size: 1.7rem;
    }
    .subContainer{
        padding-left: 0%;
        flex-direction: column;
    }
    .contact{
        padding-left: 2rem;
    }
    .address{
        padding-left: 2rem;
        margin-top: 20px;
    }
    .footerHeading{
        font-size: 1.3rem;
    }
    .footerHeadingSub{
        font-size: 1.1rem;
    }
    
    .copyRight{
        font-size: 0.8rem;
    }
}
