.container{
    margin: 59px 2% 0px 2%;
    width: 400px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 3px;
}
.cardImg{
    opacity: 0.8;
    object-fit: cover;
    height: 550px;
}

.cardText{
    position: relative;
    letter-spacing: 1px;
    color: white;
    margin: -45% 0 0 5%;

}
.Vtype{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: -25px;
    opacity: 0;
}
.title{
    font-size: 38px;
    font-weight: 600;
}

.container:hover{
    .cardImg{
        transform: scale(1.2);
        transition: .5s ease all;
}

    .Vtype{
        opacity: 0.9;
        transition: .5s ease all;
    }
}
@media screen and (max-width: 1400px){
    .container{
        margin: 30px 0% 0px 0%;
    
    }
}
@media screen and (max-width: 912px){
    .container{
        margin: 59px 0% 0px 0%;
        width: 340px;
        height: 550px;
    
    }
    .cardText{
        margin-top: -50%;
    }
    
}




