.subContaierOne{
    margin-top: -150px;
    padding: 36vh 0 0 7vw ;
    min-height: 90vh;
    background-image: url('../../../img/bg-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,5);
}
.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 1);
}

.title{
  position: absolute;
color: var(--titleColor);
position: absolute;
font-size: 3rem;
font-weight: 400;
margin-top: 2px;
letter-spacing: 2px;
}
.titleHead{
  font-size: 3rem;
  margin-top: -15px;
  position: absolute;
  font-weight: 700;
  letter-spacing: 2px;
  width: 1200px;
}
.para{
  margin-top: 140px;
  font-size: var(--paraText);
}

.contactForm{
  margin: -20vh 0 0 0;
  padding: 2rem 3rem 0 0   ;
  min-height: 80vh;
  display: flex;
}
.contactFormOne{
  width: 75%;
  background-color: var(--bgColor);
}
.contactFormSecond{
  margin-top: 5%;
  margin-left: -5%;
  width: 25%;
  background-color: var(--textColor);
  color: var(--bgColor);
}
.contactInfo{
  padding: 50% 0 50% 10%;
  
}
.contactHead{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 2px;
  letter-spacing: 1.5px;
}
.contactSubHead{
  margin: 0 0 0 47px;
  opacity: 0.9;
}
.contactMap{
  opacity: 0.7;
}